*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/**** General ****/
html {
  font-family: Helvetica, Arial, sans-serif;
}


/**** Checkin Form ****/
.checkin h1 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('https://www.sftravel.com/sites/sftraveldev.prod.acquia-sites.com/files/styles/sft_views_background_mobile/public/landmark-images/golden-gate_web.jpg?itok=wcIdLd3y&timestamp=1499715987');
  color: #ffffff;
  padding: 2rem 0;
}

.checkin form {
  display: flex;
  flex-wrap: wrap;
}

.checkin label {
  color: #222222;
  display: block;
  margin: 1rem 0;
  text-transform: uppercase;
  width: 100%;
}

.checkin label:nth-of-type(2),
.checkin label:nth-of-type(3) {
  width: 50%;
}
.checkin label:nth-of-type(2) input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.checkin label:nth-of-type(3) input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}

.checkin input {
  border: 1px solid #cccccc;
  border-radius: 2px;
  display: block;
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
}

.checkin input[type="submit"] {
  background: #d95561;
  color: #ffffff;
  cursor: pointer;
}

::placeholder {
  color: #ccc;
}


/**** Explore Section ****/
.explore-nav h2 {
  margin: 2rem 0;
}

.explore-nav div {
  display: flex;
  justify-content: space-between;
}

.explore-nav div a {
  border: 1px solid #cccccc;
  color: #222222;
  display: flex;
  align-items: center;
  border-radius: 2px;
  flex-grow: 1;
  text-decoration: none;
}

.explore-nav div a + a {
  margin-left: 2rem;
}

.explore-nav div a span {
  padding: 1rem;
}

