* {
  box-sizing: border-box;
}

html {
  background: #fafafa;
  font-family: sans-serif;
  color: #555;
}

body {
  background: #fff;
  border: 1px solid #efefef;
  display: flex;
  margin: 4rem auto;
  width: 80%;
}

main {
  border-left: 1px solid #efefef;
}

nav {
  position: relative;
}

nav, main {
  padding: 2.5rem;
}

nav > ul {
  padding: 0;
}

ul {
  list-style-type: none;
}

ul li {
  color: #aaa;
  padding: 1rem 0;
  text-transform: uppercase;
}

ul li ul {
  padding: 1rem;
}

ul li ul li {
  color: #222;
  text-transform: capitalize;
}

li.selected::before {
  content: "";
  border-left: 2px solid #222;
  position: absolute;
  left: -1px;
  width: 0;
  height: 40px;
  margin-top: -10px;
}
