*,
*::after,
*::before {
  box-sizing: border-box;
}

/**** General Styles ****/
html {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
}

article {
  font-size: 1.5rem;
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

nav.breadcrumbs a:last-child {
  color: #333;
}
nav.breadcrumbs a + a::before {
  color: blue;
  content: "/";
  margin-left: 0.5rem;
  padding-right: 0.5rem;
}

article {
  text-align: center;
  margin: 4rem auto;
}

article nav {
  display: flex;
  justify-content: space-around;
  margin: 2rem auto;
  width: 80%;
}

h1 {
  font-size: 2.5rem;
}

p {
  color: #555;
}

.sections {
  display: flex;
  justify-content: space-between;
}
.sections section {
  padding-left: 120px;
  position: relative;
  text-align: left;
  width: 47.5%;
}

.sections section img {
  position: absolute;
  top: 0;
  left: 0;
}

.sections section h2 {
  margin-top: 0;
}

